@charset "UTf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Fenix&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');


html,body{
    min-height: 100px;
    background-color: darkgray;
    font-family: var(--font1);
}
*{
    margin: 0px;
    padding: opx;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vh;
}
header>p{
    padding-bottom: 50px;
}header a, footer a{
    text-decoration: underline;
    font-weight: white;
    color: red;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}